.workbench-box-sider-search {
  width: 94%;
  border: none;
}

.workbench-box-sider-search input {
  background: var(--color-bg-content-sider);
  box-shadow: none;
  border-bottom: var(--color-text-search) solid 1px;
  -webkit-appearance: none;
  //border-bottom-style: dotted;
  color: var(--color-text);
  text-indent: 4px;
  font-size: 1.2em;
  //box-sizing: content-box;
  padding: 0px 0px 10px;
  height: 40px;
  line-height: 40px;
}

.workbench-box-sider-search input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color-text-search);
  font-size: 1.1em;
}

.workbench-box-sider-search input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color-text-search);
  font-size: 1.1em;
}

.workbench-box-sider-search input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--color-text-search);
  font-size: 1.1em;
}

.workbench-box-sider-search input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--color-text-search);
  font-size: 1.1em;
}

.workbench-box-sider-search input:focus {
  box-shadow: none;
  border-bottom-color: var(--color-bule);
  border-bottom-width: 1.5px;
}

.workbench-box-sider-setting-button {
  border: none;
  outline: none;
  position: relative;
  box-shadow: 0 0;
}

.workbench-box-sider-setting-button:focus {
  outline: none;
}

.workbench-box-sider-contents-tree {
  align-self: start;
}

.workbench-box-sider-features-tree {
  align-self: start;
  position: relative;
  margin: 10px 0px;
  width: 100%;
  //left: 0;
}

.workbench-box-sider-features-tree .bp3-tree-node-caret-none {
  min-width: 14px;
}
