.mian-box {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-areas: "Navigation Content";
  min-height: 100vh;
}

.mian-sider {
  grid-area: Navigation;

}

.mian-content {
    grid-area: Content;

}
