.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap.ibr-scroll-tabs-node::before {
  left: 0;
  content: "\f137";
  font-family: 'FontAwesome';
  font-size: 10px;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap.ibr-scroll-tabs-node::after {
  right: 0;
  content: "\f137";
  font-family: "FontAwesome";
  font-size: 10px;
}

.ibr-scroll-tabs-tab {
  padding: 6px 20px 2px;
  background: var(--color-bg-tab-node);;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 4px 4px 0 0;
  font-weight: inherit;
  line-height: 20px;
  margin: 0 1px;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ibr-scroll-tabs-tab-active {
  background: var(--color-bg-main-windows);
}

.ibr-scroll-tabs-tab.ibr-scroll-tabs-tab-disabled {
  cursor: not-allowed;
}

.ibr-scroll-tabs-extra-left {
  display: flex;
  display: -webkit-flex;
  align-self: end;
  margin: 2px 0px 0px 15px;
}

.ibr-scroll-tabs-extra-left .ibr-scroll-tabs-extra-left-title {
  display: inline-flex;
  display: -webkit-inline-flex;
  color: var(--color-button-menu);
}

.ibr-scroll-tabs-extra-left .ibr-scroll-tabs-extra-left-title > label {
  max-width: 9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: SimSun, NSimSun, STSong, STKaiti, sans-serif, Serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 0px 2px 5px 0;
}

.ibr-scroll-tabs-extra-left .ibr-scroll-tabs-extra-left-button-info {
  padding-top: 8px;
  margin-left: 4px;
  color: var(--color-button-info);
}

.ibr-scroll-tabs-extra-left-title:hover,
.ibr-scroll-tabs-extra-left-button-info:hover {
  cursor: pointer;
  color: var(--color-button-info-hover);
}

.ibr-scroll-tabs-extra-right {
  padding: 0 10px 0 20px;
}

.ibr-scroll-tabs-nav-operation {
  color: var(--color-button-menu);
  margin: 0 10px 0 20px;
}

.ibr-scroll-tabs-tab-pane {
  height: 100%;
}

.ant-tabs-content.ant-tabs-content-top {
  height: 100%;
}

.ibr-scroll-tabs-pane-views {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ibr-scroll-tabs-pane-views.ibr-scroll-tabs-pane-views-grid > .ibr-scroll-tabs-pane-views-grid-buttons {
  padding: 5px 0px 5px 10px;
  width: 600px;
  justify-content: space-around;
}

.ibr-scroll-tabs-pane-views.ibr-scroll-tabs-pane-views-grid > .ibr-scroll-tabs-pane-views-grid-table {
  padding: 10px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

