@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/table/lib/css/table.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --color-bg-main-windows: #f5f8fa;
  --color-bg-top-bar: #e1e8ed;
  --color-bg-top-title-pop-panel: #d8e1e8;
  --color-bg-content-sider: #d8e1e8;
  --color-bg-content: #ebf1f5;
  --color-bg-switch-button: #e1e8ed;
  --color-text-top-title: #182026;
  --color-text: #394b59;
  --color-text-search: #5c7080;
  --color-text-black: #10161a;
  --color-pop-panel-border: #bfccd6;
  --color-sider-divider: #5c7080;
  --color-bule: #7eb0fc;
  --color-button-info: #bfccd6;
  --color-button-info-hover: #394b59;
  --color-button-menu: #a7b6c2;
  ---branding-blue: #7eb0fc;
  ---branding-orange: #ffd266;
  ---cyan: #50c6d0;
  ---gray: #5c697c;
  --color-org: #ffa866;
  --color-red: #f37668;
  ---secondary-text-color: #30404d;
  ---tertiary-background-color: #ced9e0;
  ---tertiary-text-color: #8a9ba8;
  --color-bg-tab-node: #8a9ba8;
}

*:focus {
  outline: none;
  outlineoffset: 0px;
}

.ibr-circle-button {
  margin: 2px;
}

.ibr-circle-button:hover image {
  opacity: 1;
  transition: opacity 2s;
}

.ibr-top-bar {
  background-color: var(--color-bg-top-bar);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 5px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 70% auto;
  grid-template-rows: 20px auto;
  grid-template-areas: ' top-bar-oper top-bar-title . ' ' top-bar-logo top-bar-features top-bar-setting ';
  place-items: center center;
}

.ibr-top-bar-shut {
  grid-area: top-bar-oper;
  //outline: red dotted 1px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.ibr-top-bar-title {
  grid-area: top-bar-title;
  //outline: red solid 1px;
  max-height: 100%;
}

.ibr-top-bar-title label:hover {
  color: var(--color-text-top-title);
  cursor: pointer;
}

.ibr-top-bar-title-pop {
  width: 280px;
  max-height: 800px;
  background-color: var(--color-bg-top-title-pop-panel);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0px 0px;
  color: var(--color-text-top-title);
}

.ibr-top-bar-title-pop-panel-edit-text {
  margin: 0 5px 20px;
  font-size: 18px;
}

.ibr-top-bar-title-pop-panel-edit-text input {
  text-align: center;
}

.bp3-editable-text.bp3-editable-text-editing.ibr-top-bar-title-pop-panel-edit-text::before {
  background-color: var(--color-bg-top-title-pop-panel);
  -webkit-box-shadow: 0 0 0 1px #48aff0, 0 0 0 2px #8a9ba8,
    inset 0 1px 1px #8a9ba8;
  box-shadow: 0 0 0 1px #48aff0, 0 0 0 2px #8a9ba8, inset 0 1px 1px #8a9ba8;
}

.ibr-top-bar-border {
  box-shadow: 0px 0px 0 1px var(--color-pop-panel-border);
}

.ibr-top-bar-title-pop-panel-menu {
  background-color: var(--color-bg-top-title-pop-panel);
  color: var(--color-text-top-title);
  padding: 0;
}

.ibr-top-bar-logo {
  grid-area: top-bar-logo;
}

.ibr-top-bar-features {
  grid-area: top-bar-features;
}

.ibr-top-bar-setting {
  grid-area: top-bar-setting;
}

.ibr-content-container {
  min-height: 100%;
  min-width: 100vh;
  //内容栏采用flex布局
  display: flex;
  display: -webkit-flex; /* Safari */
  position: relative;
}

.ibr-content-left-navbar-title {
  position: relative;
  min-height: 100%;
  background-color: var(--color-bg-content-sider);
  width: 23px;
  flex: none;
  border-right: 0.1px outset var(--color-pop-panel-border);
}

.ibr-content-left-navbar-switch-button {
  position: relative;
  padding: 0.7em 0 0.7em;
  display: flex;
  flex-direction: column-reverse;
  //height: 80px;
  //outline: white solid thin;
  align-items: center;
  border: none;
  outline: none;
  color: var(--color-text);
}

.ibr-content-left-navbar-switch-button.ibr-button-select {
  background-color: var(--color-bg-main-windows);
}

.ibr-content-left-navbar-switch-button.ibr-button-unselect {
  background-color: var(--color-bg-content-sider);
}

.ibr-content-left-navbar-switch-button.ibr-button-unselect:hover {
  background-color: var(--color-bg-top-bar);
}

.ibr-content-left-navbar-switch-button > img {
  padding-top: 3px;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
}

.ibr-content-left-navbar-switch-button img path {
  fill: var(--color-text);
}

.ibr-content-left-navbar-switch-button > p {
  font-size: 0.9em;
  text-align: center;
  width: 20px;
}

.ibr-content-sider-resize-divider {
  min-height: 100%;
  width: 1px;
  position: relative;
  background: var(--color-text-top-title);
  cursor: col-resize;
  user-select: none;
  flex: none;
  opacity: 0;
  transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
}

.ibr-content-sider-resize-cover {
  position: fixed;
  min-height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  cursor: col-resize;
}

.ibr-content-sider {
  position: relative;
  min-height: 100%;
  flex: none;
  background-color: var(--color-bg-content-sider);
  overflow: hidden;
  //拉动分隔栏缩动效果
  transition: width 100ms, opacity 500ms;
  -webkit-transition: width 100ms, opacity 500ms; /* Safari */
  -moz-transition: width 100ms, opacity 500ms;
  -o-transition: width 100ms, opacity 500ms;
  display: flex;
  display: -webkit-flex; /*safari*/
  flex-direction: column;
  -webkit-flex-direction: column; /*safari*/
  justify-content: start;
  align-items: center;
  padding: 10px 0px 0px;
}

.ibr-content-main-content {
  background-color: var(--color-bg-content);
  min-height: 100%;
  flex: auto;
}

.ibr-tab-navlist-editable-text {
}
