.main-windows {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-areas: 'main-top-bar' 'main-content';
  min-height: 100vh;
  min-width: 100vh;
  //outline: red solid thin;
  background-color: var(--color-bg-main-windows);
  font-family: PingFangSC-Medium, 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons',
    'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: var(--color-text);
  overflow: hidden;
}

.main-top-bar {
  grid-area: main-top-bar;
}

.main-content {
  grid-area: main-content;
}
